<div  {{$props.merge({ class: ['mr-auto ml-auto flex flex-col border rounded-lg border-slate-950 p-4 w-full shadow-lg '] }).toAttrs()}}>
  <p class="text-start GradiantRedToPurple">{{review.name}}</p>
  <p class=" text-yellow-400 "> {{"★".repeat(review.rating)}}</p>
  <p class="break-words"> {{review.review}}</p>
  <i class="{{$props.icon}} ml-auto" style="color: {{$props.iconStyle}};"></i>
</div>
