@layout.main()
<div class="h-screen flex">
  <div class=" w-[70%] m-auto flex flex-col bg-light-gray rounded-lg text-white p-6">
    <h1 class="self-center mb-3">THANK YOU FOR YOUR REVIEW &#127881</h1>
    <p>your review will be displayed in my reviews section once manually verifed thank you for your patience </p>
    <a href="{{route('home')}}" class="btn ml-auto mr-auto"> click here to go back </a>
  </div>
</div>
@end
